.products{
    position: static;
    margin-left: 1rem;
}

.products-top{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20.45rem;    
}

.products-title{
    color: #464646;
    font-size: 1.375rem;
}

.products-link-top{
    color: #2A7AE4;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.box{
    margin-bottom: 1rem;
}

.product-image{
    height: 10.875rem;
    width: 9.75rem;
}

.box-image-title{
    color: #464646;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.box-product-price{
    color: #464646;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.box-product-details{
    color: #2A7AE4;
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    text-decoration: none;
}

.box:nth-child(5),
.box:nth-child(6){
    display: none;
}

@media screen and (min-width: 768px) {
    .products{
        margin-left: 2rem;
        width: 44rem;
    }

    .products-top{
        width: 100%;
    }
    
    .products-link-top{
        font-size: 1rem;
    }

    .product-image{
        width: 10.25rem;
    }

    .box-product-details{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .products{
        margin-left: 9.5rem;
        width: 71rem;
    }

    .products-top{
        width: 100%;
    }

    .products-title{
        font-size: 2rem;
    }

    .product-image{
        width: 11rem;
    }

    .box:nth-child(5),
    .box:nth-child(6){
    display: grid;
}
}