.consoles{
    position: absolute;
    margin-top: 54.25rem;
    margin-left: 1rem;
}

.consoles-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 21.5rem;
}

.consoles-title{
    font-size: 1.375rem;
    color: #464646;
}

.consoles-link-top{
    font-size: 0.875rem;
    color: #2A7AE4;
    text-decoration: none;
    font-weight: 700;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.box{
    margin-bottom: 1rem;
}

.consoles-image{
    width: 9.75rem;
    height: 10.875rem;
}

.box-image-title{
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 0.5rem;
    color: #464646;
}

.box-consoles-price{
    font-size: 1rem;
    font-weight: 700;
    color: #464646;
    margin-top: 0.5rem;
}

.box-consoles-details{
    font-size: 0.875rem;
    font-weight: 700;
    color: #2A7AE4;
    margin-top: 0.5rem;
    text-decoration: none;
}

.desktop{
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .consoles{
        margin-top: 47.25rem;
        margin-left: 2rem;
        width: 44rem;
    }

    .consoles-link-top{
        font-size: 1rem;
    }

    .consoles-image{
        width: 10.25rem;
    }

    .box-consoles-details{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .consoles{
        margin-left: 9.5rem;
        width: 71rem;
    }

    .consoles-title{
        font-size: 2rem;
    }

    .consoles-image{
        width: 11rem;
    }

    .desktop{
        visibility: visible;
    }
}