.header-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 4.75rem ;
    justify-content: space-between;
    margin-top: 1rem;
}

.console{
    color: #2A7AE4;
    font-size: 2rem;
    margin-left: 1.125rem;
}

.header-title{
    color: #2A7AE4;
    font-weight: bold;
    margin-left: -1.5rem;
}

.header-title-colored{
    color: #464646;
}

.login-btn{
    background: transparent;
    border: 0.1875rem solid #2A7AE4;
    color: #2A7AE4;
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    width: 8.312rem;
}

.search-btn{
    height: 1.5rem;
    margin-right: 1rem;
    width: 1.5rem;
}

.search{
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .header-container{
        height: 4.5rem;
        justify-content: flex-start;
    }

    .console{
        margin-left: 2.1875rem;
    }

    .header-title{
        margin-left: 0.25rem;
    }

    .search{
        background: #F5F5F5;
        border: none;
        border-radius: 1.25rem;
        height: 2.5rem;
        visibility: visible;
        width: 17rem;
    }

    .search::placeholder{
        color: #A2A2A2;
        left: 1rem;
        position: absolute;
        top: 0.75rem;
    }

    .search-btn{
        color: #A2A2A2;
        height: 1rem;
        left: 17.5rem;
        position: relative;
        width: 1rem;
    }

    .login-btn{
        margin-left: 35.6rem;
        position: absolute;
        width: 10.38rem;
    }
}

@media screen and (min-width: 1440px) {
    .header-container{
        height: 7.20rem;
        margin: 0 9.5rem;
        width: 71rem;
    }

    .console{
        height: 3rem;
        margin-left: 0;
        width: 2.5rem;
    }

    .header-title-colored{
        margin-right: 2rem;
    }

    .login-btn{
        margin-left: 60rem;
    }

    .search{
        width: 25rem;
    }

    .search-btn{
        left: 25rem;
        position: relative;
    }
}