.footer-container{
    background: #EAF2FD;
}

.footer-logo{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 6rem;
}

.footer-console{
    color: #2A7AE4;
    font-size: 3.5rem;
    margin-right: 1.5rem;
    margin-top: 1.6rem;
}

.footer-title{
    color: #2A7AE4;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: -1.5rem;
    margin-top: 1.6rem;
}

.footer-title-colored{
    color: #464646;
}

.footer-links{
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer-links li{
    margin-bottom: 1rem;
}

.footer-links li a{
    color: #464646;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

.footer-contact{
    margin-left: 1rem;
}

.footer-contact-title{
    color: #464646;
    font-size: 1.1rem;
    font-weight: 700 bold;
    margin-bottom: 0.5rem;
}

.footer-contact-name{
    background: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0.07rem #C8C8C8;
    font-size: 1rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    width: 20.5rem;
}

.footer-contact-name::placeholder{
    color: #A2A2A2;
    left: 0.75rem;
    position: absolute;
    top: 0.5rem;
}

.footer-contact-message{
    background: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0.07rem #C8C8C8;
    font-size: 1rem;
    height: 5.125rem;
    margin-bottom: 0.5rem;
    width: 20.5rem;
}

.footer-contact-message::placeholder{
    color: #A2A2A2;
    left: 0.75rem;
    position: absolute;
    top: 1rem;
}

.footer-btn{
    background: #2A7AE4;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 600;
    height: 2.5rem;
    margin-bottom: 1rem;
    width: 9.5rem;
}

.footer-copyright{
    align-items: center;
    color: #464646;
    display: flex;
    flex-direction: row;
    height: 6.37rem;
    justify-content: center;
}

.footer-copyright a{
    font-size: 1rem;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .footer-top{
        display: flex;
        justify-content: flex-start;
    }

    .footer-logo{
        margin-left: 2.31rem;
    }

    .footer-links{
        align-items: flex-start;
        display: flex;
        float: left;
        margin-right: 5.87rem;
    }

    .footer-contact{
        display: flex;
        flex-direction: column;
        position: relative;
        top: -4.5rem;
    }
    
    .footer-contact-name,
    .footer-contact-message {
        width: 26rem;
    }
}

@media screen and (min-width: 1440px) {
    .footer-container{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        height: 23rem;
        padding-top: 4rem;
        width: 100vw;
    }

    .footer-logo{
        margin-left: 9.5rem;
        margin-right: 4rem;
    }

    .footer-links{
        width: 12rem;
    }

    .footer-contact{
        display: flex;
        flex-direction: column;
        margin-top: 4.5rem;
    }

    .footer-contact-name,
    .footer-contact-message{
        width: 35rem;
    }

    .footer-copyright{
        width: 90rem;
    }
}